[submodule "vendor/fmt"]
	path = vendor/fmt
	url = git@github.com:fmtlib/fmt.git
[submodule "vendor/SDL"]
	path = vendor/SDL
	url = git@github.com:libsdl-org/SDL.git
[submodule "vendor/mio"]
	path = vendor/mio
	url = git@github.com:StrikerX3/mio.git
[submodule "vendor/cxxopts"]
	path = vendor/cxxopts
	url = git@github.com:jarro2783/cxxopts.git
[submodule "vendor/Catch2"]
	path = vendor/Catch2
	url = git@github.com:catchorg/Catch2.git
[submodule "vendor/readerwriterqueue"]
	path = vendor/readerwriterqueue
	url = git@github.com:cameron314/readerwriterqueue.git
[submodule "vendor/concurrentqueue"]
	path = vendor/concurrentqueue
	url = git@github.com:cameron314/concurrentqueue.git
