[submodule "vendor/fmt"]
	path = vendor/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "vendor/SDL"]
	path = vendor/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "vendor/mio"]
	path = vendor/mio
	url = https://github.com/StrikerX3/mio.git
[submodule "vendor/cxxopts"]
	path = vendor/cxxopts
	url = https://github.com/jarro2783/cxxopts.git
[submodule "vendor/Catch2"]
	path = vendor/Catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "vendor/concurrentqueue"]
	path = vendor/concurrentqueue
	url = https://github.com/cameron314/concurrentqueue.git
[submodule "vendor/imgui/imgui"]
	path = vendor/imgui/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "vendor/tomlplusplus"]
	path = vendor/tomlplusplus
	url = https://github.com/marzer/tomlplusplus.git
[submodule "vendor/xxHash/xxHash"]
	path = vendor/xxHash/xxHash
	url = https://github.com/Cyan4973/xxHash
[submodule "vendor/cereal"]
	path = vendor/cereal
	url = https://github.com/USCiLab/cereal.git
[submodule "vendor/lz4/lz4"]
	path = vendor/lz4/lz4
	url = https://github.com/lz4/lz4.git
[submodule "vendor/stb/stb"]
	path = vendor/stb/stb
	url = https://github.com/nothings/stb.git
[submodule "vendor/libchdr"]
	path = vendor/libchdr
	url = https://github.com/rtissera/libchdr.git
[submodule "vendor/rtmidi"]
	path = vendor/rtmidi
	url = https://github.com/thestk/rtmidi.git
